{% extends 'homepage/base.html' %}

{% block title %}
Article
{% endblock %}

{% block body %}
<h1>Choose an Article</h1>

<ul class="list-group">
    {% for num in articles %}
    {% cycle val1 val2 as val silent %}
        <li class="list-group-item {% cycle 'list-group-item-primary' 'list-group-item-secondary' %}">
            Article № {{ num }}{{ val|safe }}</li>
    {% endfor %}
    {% comment %}
    <li class="list-group-item">A simple default list group item</li>
    <li class="list-group-item list-group-item-secondary">
        A simple secondary list group item</li>
    {% endcomment %}
</ul>
{% endblock %}